# -*- sh -*-

# Get the Nix commit ID from the pinning file:
commit=$(sed -nE 's/^[[:space:]]+commit[[:space:]]+=[[:space:]]+"([a-z0-9]+).*$/\1/p' nix/nixpkgs.nix)
export NIX_PATH=nixpkgs="https://github.com/NixOS/nixpkgs/tarball/${commit}"

# Load in the shell.nix file:
# Load in the shell.nix file:
if type lorri &>/dev/null; then
  eval "$(lorri direnv)"
else
  use nix
fi

# Reload if these files changes:
watch_file edify.cabal default.nix
